!!!
%html
  %head>
    %meta{charset: 'UTF=8'}
    %title Sinatra Admin

  %body
    .top-bar{style: "height:30px;"}
      .main-menu
        %ul{style: "list-style-type:none;"}
          - SinatraAdmin.config.routes.each do |route|
            %li{style: "float:left; padding-right:15px;"}
              %a{href: "#{route}"}= route.humanize

      .logout{style: "float:right;"}
        %a{href: "/admin/logout"} Logout

    .wrapper
      =yield
