!!!
%html{lang: "en-US"}
  %head
    %meta{charset: 'UTF=8'}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{href: "/admin/css/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "/admin/css/bootstrap-lightbox.min.css", rel: "stylesheet"}
    %style
      body { padding-top: 60px; }
    %link{href: "/admin/css/bootstrap-responsive.min.css", rel: "stylesheet"}
    %title Sinatra Admin

  %body
    .navbar.navbar-fixed-top.navbar-inverse{:style => "position:static;"}
      .navbar-inner
        .container
          %a.btn.btn-navbar{data: {toggle: "collapse", target: ".nav-collapse"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
              %a.brand{href: "/admin"}
                SinatraAdmin
                %small.muted{style: "font-size: 12px"}= " v#{SinatraAdmin::VERSION}"
          .nav-collapse.collapse
            %ul.nav
              - SinatraAdmin.config.routes.each do |route|
                %li
                  %a{href: "/admin/#{route}"}= route.humanize
            %ul.nav.pull-right
              %li
                %a{href: "/admin/logout"} Logout

    %script{src: "/admin/js/jquery-2.1.1.min.js"}
    %script{src: "/admin/js/bootstrap.min.js"}
    %script{src: "/admin/js/bootstrap-datepicker.js"}
    %script{src: "/admin/js/bootstrap-lightbox.min.js"}

    .container
      =yield
