!!!
%html
  %head>
    %meta{charset: 'UTF=8'}
    %title Sinatra Admin

  %body
    .top-bar
      .main-menu
        %span We are going to have here links for all registered routes
      .logout{style: "float:right;"}
        %a{href: "/admin/logout"} Logout

    .wrapper
      =yield
